In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('dummy-data-2.csv')

In [9]:
df.head()

,ID,FULL_NAME,FIRST_NAME,LAST_NAME,CALLING_NBR,CALLED_NBR,START_DATE,END_DATE,DURATION,CELL_SITE,CITY,STATE,ADDRESS_CELL_SITE
0,0,Alec Fuentes,Alec,Fuentes,1-123-324-4248,1-810-571-4199,1585040660,1565646465,3867,88,Cap-Saint-Ignace,QC,2518 Et Av.
1,1,Tiger Holmes,Tiger,Holmes,1-367-597-1080,1-670-903-0684,1556355660,1580673072,2854,12,Penticton,BC,"P.O. Box 363, 6007 Suspendisse Ave"
2,2,Claire Joyner,Claire,Joyner,1-791-301-2705,1-445-728-6303,1557119719,1570636179,3452,147,Amqui,Quebec,750-2007 Faucibus Rd.
3,3,Colby Valdez,Colby,Valdez,1-482-462-8789,1-389-766-9288,1555981175,1587477368,9050,37,Saint-Hilarion,Quebec,614 Metus. St.
4,4,Tarik Mullen,Tarik,Mullen,1-303-324-3702,1-456-546-1018,1579991319,1583028711,3732,86,East Gwillimbury,Ontario,Ap #753-8045 Volutpat Av.

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 13 columns):
ID                   100 non-null int64
FULL_NAME            100 non-null object
FIRST_NAME           100 non-null object
LAST_NAME            100 non-null object
CALLING_NBR          100 non-null object
CALLED_NBR           100 non-null object
START_DATE           100 non-null int64
END_DATE             100 non-null int64
DURATION             100 non-null int64
CELL_SITE            100 non-null int64
CITY                 100 non-null object
STATE                100 non-null object
ADDRESS_CELL_SITE    100 non-null object
dtypes: int64(5), object(8)
memory usage: 10.2+ KB

In [12]:
df.isna().sum()

ID                   0
FULL_NAME            0
FIRST_NAME           0
LAST_NAME            0
CALLING_NBR          0
CALLED_NBR           0
START_DATE           0
END_DATE             0
DURATION             0
CELL_SITE            0
CITY                 0
STATE                0
ADDRESS_CELL_SITE    0
dtype: int64

In [13]:
df.to_csv('/var/lib/neo4j/import/dummy-data-2.csv', index=False)

PermissionError: [Errno 13] Permission denied: '/var/lib/neo4j/import/dummy-data-2.csv'

In [1]:
from py2neo import Graph

In [23]:
g = Graph("bolt://0.0.0.0:7687", auth=("neo4j","speed150"))

In [48]:
g.run("""MATCH (a:CALL)-[:LOCATED_IN]->(b:LOCATION) WHERE b.cell_tower = '88' OR b.cell_tower = '89' AND 1416904730 < toInteger(a.start) AND toInteger(a.start) < 1416911930 WITH a, b MATCH (c:PERSON)-[:MADE_CALL]->(a)-[:RECEIVED_CALL]->(d:PERSON)
RETURN c.full_name as caller, d.full_name as called, a.start as time, a.duration as duration, b.address_cell_site as address_cell_site""").to_data_frame()

str

In [51]:
from datetime import date
today = date.today()
print(today)
print(today.year)
print(today.month)
print(today.day)

2020-06-19
2020
6
19

In [58]:
import datetime
import time
dt = datetime.datetime(today.year, today.month, today.day, 10, 40)
print()
print("Unix Timestamp: ",(time.mktime(dt.timetuple())))
print()

Unix Timestamp:  1592545200.0

In [63]:
time_str = '19:20'
colon_index = time_str.find(':')
hour = time_str[:colon_index]
minutes = time_str[colon_index+1:]

In [64]:
print(hour)
print(minutes)

19
20

In [65]:
"""hello {} mister
   {}
""".format("yaaar", "baaaka")

'hello yaaar mister\n   baaaka\n'

In [69]:
1585039850 < 1585040660 and 1585040660 < 1585041000

True

In [75]:
"""MATCH (a:CALL)-[:LOCATED_IN]->(b:LOCATION) WHERE b.cell_tower = {} OR b.cell_tower = {} AND {} < toInteger(a.start) AND toInteger(a.start) < {} WITH a, b 
                             MATCH (c:PERSON)-[:MADE_CALL]->(a)-[:RECEIVED_CALL]->(d:PERSON)
                             RETURN c.full_name as caller, d.full_name as called, a.start as time, a.duration as duration, b.address_cell_site as address_cell_site""".format('1', 2, 3, 4)

'MATCH (a:CALL)-[:LOCATED_IN]->(b:LOCATION) WHERE b.cell_tower = 1 OR b.cell_tower = 2 AND 3 < toInteger(a.start) AND toInteger(a.start) < 4 WITH a, b \n                             MATCH (c:PERSON)-[:MADE_CALL]->(a)-[:RECEIVED_CALL]->(d:PERSON)\n                             RETURN c.full_name as caller, d.full_name as called, a.start as time, a.duration as duration, b.address_cell_site as address_cell_site'

In [78]:
" {} ss".format(1)

' 1 ss'